gridcapa-core-valid-intraday-app/src/main/resources/xsd/GSKDocument.xsd

<?xml version="1.0" encoding="UTF-8"?> <!-- UNI-LT CCt adaptation: ReceiverCategory added for timestamp code. Version increased to 05 (from 04) -->
<!-- edited with XML Spy v2011 rel2 (http://www.xmlspy.com) by Guillaneau (RTE) -->
<xsd:schema xmlns:ecc="etso-core-cmpts.xsd" xmlns:ecl="etso-code-lists.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="etso-core-cmpts.xsd" schemaLocation="etso-core-cmpts.xsd" />
	<xsd:import namespace="etso-code-lists.xsd" schemaLocation="etso-code-lists.xsd" />
	<xsd:element name="GSKDocument">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DocumentIdentification" type="ecc:IdentificationType" />
				<xsd:element name="DocumentVersion" type="ecc:VersionType" />
				<xsd:element name="DocumentType" type="ecc:MessageType" />
				<xsd:element name="ProcessType" type="ecc:ProcessType" />
				<xsd:element name="SenderIdentification" type="ecc:PartyType" />
				<xsd:element name="SenderRole" type="ecc:RoleType" />
				<xsd:element name="ReceiverIdentification" type="ecc:PartyType" />
				<xsd:element name="ReceiverRole" type="ecc:RoleType" />
				<xsd:element name="ReceiverCategory" type="ecc:CodeType" minOccurs="0" maxOccurs="1"/> <!-- Added. Optional. CodeType = string with max length 3 -->
				<xsd:element name="CreationDateTime" type="ecc:MessageDateTimeType" />
				<xsd:element name="GSKTimeInterval" type="ecc:TimeIntervalType" />
				<xsd:element name="Domain" type="ecc:AreaType" />
				<xsd:element name="GSKSeries" type="GSKSeries_Type" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element name="Reason" type="Reason_Type" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="DtdRelease" type="xsd:string" use="optional" />
			<xsd:attribute name="DtdVersion" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GSKSeries_Type">
		<xsd:sequence>
			<xsd:element name="TimeSeriesIdentification" type="ecc:IdentificationType" />
			<xsd:element name="BusinessType" type="BusinessTypeWithShare" />
			<xsd:element name="Area" type="ecc:AreaType" />
			<xsd:element name="ManualGSK_Block" type="ManualGSK_Block_Type" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="CountryGSK_Block" type="CountryGSK_Block_Type" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="AutoGSK_Block" type="AutoGSK_Block_Type" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
<!--____Dedicated GSK-specific Business type which contains share attribute using ShareType____-->
	<xsd:complexType name="BusinessTypeWithShare">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>ET0017-2</Uid>
				<Definition>The exact business nature identifying the principal characteristic of a time series.</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:BusinessTypeList" use="required"/>
		<xsd:attribute name="share" type="ShareType" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="ShareType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>ET0050</Uid>
				<Definition>Value identifying ration between generation and load in country and auto nodes.</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--_________________________________________________-->
	<xsd:complexType name="ManualGSK_Block_Type">
		<xsd:sequence>
			<xsd:element name="GSK_Name" type="ecc:IdentificationType" />
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType" />
			<xsd:element name="ManualNodes" type="ManualNodes_Type" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ManualNodes_Type">
		<xsd:sequence>
			<xsd:element name="NodeName" type="ecc:IdentificationType" />
			<xsd:element name="Factor" type="ecc:QuantityType" />
			<xsd:element name="Status" type="GenStatus_Type" minOccurs="0" />
			<xsd:element name="ActiveGen" type="ecc:QuantityType" minOccurs="0" />
			<xsd:element name="ReactiveGen" type="ecc:QuantityType" minOccurs="0" />
			<xsd:element name="InitActiveLoad" type="ecc:QuantityType" minOccurs="0" />
			<xsd:element name="ReactiveLoad" type="ecc:QuantityType" minOccurs="0" />
			<xsd:element name="EstimatedLoss" type="ecc:QuantityType" minOccurs="0" />
			<xsd:element name="OriginalFactor" type="ecc:QuantityType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AutoGSK_Block_Type">
		<xsd:sequence>
			<xsd:element name="GSK_Name" type="ecc:IdentificationType" />
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType" />
			<xsd:element name="AutoNodes" type="AutoNodes_Type" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AutoNodes_Type">
		<xsd:sequence>
			<xsd:element name="NodeName" type="ecc:IdentificationType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CountryGSK_Block_Type">
		<xsd:sequence>
			<xsd:element name="GSK_Name" type="ecc:IdentificationType" />
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Reason_Type">
		<xsd:sequence>
			<xsd:element name="ReasonCode" type="ecc:ReasonCodeType" />
			<xsd:element name="ReasonText" type="ecc:ReasonTextType" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GenStatus_Type">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="OK" />
					<xsd:enumeration value="NOK" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
